@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@import url(navbar.css);
@import url(authButtons.css);
@import url(loginStyle.css);
@import url(registerStyle.css);


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.outerShadow {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.innerShadow {
  -webkit-box-shadow: inset 0px 4px 16px -5px #6A6A6A; 
  box-shadow: inset 0px 4px 16px -5px #6A6A6A;
}

.mainContentContainer {
  background-color: var(--whiteColor);
  width: 100dvw;
  height: calc(100dvh - 140px);
  border-radius: 20px 20px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 100px 150px;
}

.black {
  color: black;
}

.errorMessage {
  color: var(--dangerColor);
}