:root {
    --darkMainColor: #3C8E7F;
    --mediumMainColor: #459688;
    --lightMainColor: #45998A;
    --normalMainColor: #B0C8C4;
    --darkerGreyColor: #515758;
    --whiteColor: #FAFAFA;
    --greyColor: #ECECEC;
    --dangerColor: #F65B5B;
    --blackColor: #252525;
}